<div id="<%= dom_id meal %>">
  <p>
    <strong>Day:</strong>
    <%= meal.day %>
  </p>

  <p>
    <strong>Meal:</strong>
    <%= meal.meal %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= meal.menu_id %>
  </p>

</div>
